.signup-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Full viewport height */
    text-align: center;
    background-color: rgb(240, 244, 248);
}

.form-group {
    background-color: white;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%; /* Full width of its container */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items within form-group */
}

h2 {
    margin-bottom: 16px;
    font-size: 28px;
    color: #333;
    width: 100%; /* Make the title span the whole width */
    text-align: center; /* Center the title text */
}

.user-type-toggle button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.user-type-toggle button:hover {
    background-color: #0056b3;
}

.input-field,
.mobile-input-field {
    width: 100%; /* Full width for inputs */
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: 0.3s ease;
}

.input-field:focus,
.mobile-input-field:focus {
    border-color: #28a745;
    outline: none;
}

.mobile-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-group {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.country-code-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    outline: none;
    width: 100px;
    margin-right: 10px; /* Spacing between select and input */
}

.country-code-select:focus {
    border-color: #28a745;
}

.signup-button {
    background-color: #28a745;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.signup-button:hover {
    background-color: #218838;
    transform: translateY(-1px);
}
