.login-page-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(240, 244, 248);
    height: 100vh;
}

.login-page-container .logo-container {
    margin-bottom: 10px;
}

.login-page-container .logo-container img {
    height: 70px;
    width: auto;
    margin: 0;
    padding: 0;
}

.login-page-container .login-form-container {
    background-color: rgb(22, 185, 204);
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: 0;
}

.login-page-container .new-user-option-container{
    font-size: 20px;
    color: white;
}

.login-page-container .new-user-option-container a{
    font-size: 20px;
    color: white;
}

.login-page-container .login-options-container{
    display: flex;
    flex-direction: column;
}

.login-page-container.email-login-container,
.login-page-container .social-login-container {
    flex: 1;
}

.login-page-container .email-login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-page-container .input-field:focus{
    border-color: rgb(12, 101, 112);
    box-shadow: 0 0 6px rgba(12, 101, 112, 0.3);
    outline: none;
}

.login-page-container .remember-me-option-container {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 12px;
    color: white;
}

.login-page-container .remember-me-option-container input {
    width: 18px;
    height: 18px;
}

.login-page-container .login-button {
    background-color: rgb(15, 129, 143);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 93%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 12px;
}

.login-page-container .login-button:hover {
    background-color: rgb(11, 110, 132);
}

.login-page-container .forgot-password-option-container{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.login-page-container .forgot-password-option-container .forgot-password-link{
    color: white;
}

.login-page-container .separator {
    height: 1px;
    background-color: #8898AA;
    margin: 20px 0; 
}

.login-page-container .social-login-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}

.login-page-container .social-button {
    display: flex;
    align-items: center;
    background-color: rgb(240, 244, 248);
    border-radius: 5px;
    padding: 10px;
    width: 60%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.1); 
}

.login-page-container .social-button:hover {
    transform: translateY(-3%);
}

.login-page-container .social-icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.login-page-container .popup {
    position: fixed;
    top: 70px;
    right: 20px;
    padding: 8px 12px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeOut 3s forwards;
    z-index: 1000;
    font-size: 14px;
}

.login-page-container .popup-error {
    background-color: #f44336;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
