.main-nav {
    background-color: white;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(101, 238, 134);
    box-sizing: border-box;
}

.main-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
}

.main-nav li {
    margin-left: 32px;
    font-size: 16px;
}

.main-nav a {
    color: black;
    text-decoration: none;
}

.main-nav :hover {
    color: rgb(101, 238, 134);
}

.main-nav .active{
    color: rgb(101, 238, 134);
}