button {
    all: unset;
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

.dashboard-page-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.dashboard-page-container .sidebar-container {
    width: 230px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.dashboard-page-container .user-options-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 20px;
    max-height: 100vh;
    margin-left: 230px;
    align-items: center;
    gap: 20px;
    width: 100vw;
}

.dashboard-page-container .user-options-container .verify-email-container {
    width: 100%; /* Set the width to 100% of the parent container */
    top: 0;
    position: relative;
    text-align: center; /* Optional: center the text */
    color: #721c24; /* Optional: text color */
}

.dashboard-page-container .user-options-container h1,
.dashboard-page-container .user-options-container p {
    margin: 0;
    align-self: flex-start;
}

.dashboard-page-container .user-options-container .hr-div {
    border: none;
    width: 100%;
    background-color: #d6d6d6;
    margin-bottom: 20px;
    height: 1px;
}

.dashboard-page-container .user-options-container .user-options-hr-div {
    border: none;
    width: 70%;
    background-color: #d6d6d6;
    margin: 20px;
    height: 1px;
}

.dashboard-page-container .user-options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: start;
}

.dashboard-page-container .user-options-grid .hr-div {
    border: none;
    width: 100%;
    background-color: #d6d6d6;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 1px;
}

.dashboard-page-container .user-options-grid h2 {
    margin: 0;
}

.dashboard-page-container .account-balance-container,
.dashboard-page-container .user-messages-container,
.dashboard-page-container .upcoming-sessions-container,
.dashboard-page-container .quick-session-container {
    border: 1px solid #16b9cc;
    border-radius: 12px;
    padding: 20px 20px;
    box-sizing: border-box;
    width: auto;
}

.dashboard-page-container .user-messages-container,
.dashboard-page-container .upcoming-sessions-container {
    height: auto;
    width: 395px;
}

.dashboard-page-container .user-messages-container ul{
    list-style-type: square;
}

.dashboard-page-container .account-balance-container .balance-pairs-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.dashboard-page-container .account-balance-container .balance-pair-container {
    display: flex;
    gap: 7px;
}

.dashboard-page-container .account-balance-container .balance-pairs-container .balance-pair-container p {
    padding: 8px 0;
    width: 70px;
    font-size: 20px;
    align-items: center;
}


.dashboard-page-container .account-balance-container .balance-pairs-container .balance-pair-container label {
    background-color: white;
    border: 1px solid #16b9cc;
    padding: 8px;
    border-radius: 4px;
    width: 65px;
    font-size: 20px;
    align-items: center;
    text-align: right;
}

.dashboard-page-container .manage-balance-buttons-container button {
    background-color: white;
    border: 1px solid #16b9cc;
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
    font-size: 20px;
    text-align: center;
    margin-right: 20px
}

.dashboard-page-container .quick-session-container {
    height: auto;
}

.dashboard-page-container .session-item {
    justify-content: flex-start;
    margin-bottom: 10px;
    list-style-type: square;
}

.dashboard-page-container .session-item span {
    margin-right: 10px;
}

.dashboard-page-container .create-session-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(22, 185, 204);
}

.dashboard-page-container .session-payment-type-container {
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.dashboard-page-container .session-payment-type-container button:hover {
    background-color: rgba(22, 185, 204, 0.3);
}

.session-payment-type-container .session-payment-type-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #000;
    font-size: 16px;
}

.session-payment-type-container .session-payment-type-button.active {
    border-bottom: 3px solid rgb(22, 185, 204);
    background-color: rgba(22, 185, 204, 0.3);
}

.dashboard-page-container .session-type-info-container {
    display: flex;
    padding: 10px;
    width: auto;
    transition: height 0.3s ease, opacity 0.3s ease;
    background-color: rgba(22, 185, 204, 0.1);
}

.dashboard-page-container .session-type-info-container.expanded {
    display: block;
    max-height: 300px;
    opacity: 1;
}

.dashboard-page-container .session-type-info-container .session-info-container p{
    margin-bottom: 20px;
}

.dashboard-page-container .manage-quick-session-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-page-container .manage-quick-session-button button {
    border: 2px solid #16b9cc;
    background-color: rgb(175, 209, 68);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-page-container .manage-quick-session-button .start-session {
    background-color: green;
    color: white;
}

.dashboard-page-container .manage-quick-session-button .end-session {
    background-color: red;
    color: white;
}

.popup {
    position: fixed;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: white; /* Or your desired background */
    border: 1px solid #16b9cc; /* Border color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional for shadow */
    padding: 10px 20px; /* Adjust padding as needed */
    z-index: 1000; /* Ensure it appears on top of other elements */
}