button {
    all: unset;
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

.dashboard-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.dashboard-page-container .sidebar-container {
    width: 230px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.dashboard-page-container .user-options-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 20px;
    height: 100vh;
    margin-left: 230px;
    align-items: center;
    gap: 20px;
}

.dashboard-page-container .user-options-container h1 {
    margin: 0;
    align-self: flex-start;
}

.dashboard-page-container .user-options-container .hr-div {
    border: none;
    width: 100%;
    background-color: #d6d6d6;
    margin: 20px 0;
    height: 1px;
}

.dashboard-page-container .user-options-container .vr-div {
    width: 1px;
    background-color: #d6d6d6;
    margin: 0 20px;
    height: 400px;
}

.dashboard-page-container .user-options-columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.dashboard-page-container .user-options-columns h2 {
    margin: 0;
}

.dashboard-page-container .user-messages-container,
.dashboard-page-container .recent-sessions-container,
.dashboard-page-container .account-balance-container,
.dashboard-page-container .session-container
{
    border: 1px solid #16b9cc;
    border-radius: 12px;
    padding: 10px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.dashboard-page-container .user-options-left-column .hr-div {
    border: none;
    width: 100%;
    background-color: #d6d6d6;
    height: 1px;
}

.dashboard-page-container .user-options-left-column,
.dashboard-page-container .user-options-right-column {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.dashboard-page-container .session-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.dashboard-page-container .session-item span {
    margin-right: 10px;
}


.dashboard-page-container .create-session-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dashboard-page-container .session-button {
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.dashboard-page-container .session-button:hover {
    background-color: #1f8b97;
    border-color: #1f8b97;
}

.dashboard-page-container .button-info-container {
    display: none;
    margin-top: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    width: auto;
    transition: height 0.3s ease, opacity 0.3s ease;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.dashboard-page-container .button-info-container.expanded {
    display: block;
    max-height: 300px;
    opacity: 1;
}

.dashboard-page-container .button-info-container h3 {
    margin: 0;
    font-size: 1.2rem;
}

.dashboard-page-container .account-balance-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.dashboard-page-container .balance-pair {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dashboard-page-container .account-balance-container label {
    background-color: white;
    border: 1px solid #16b9cc;
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
    width: 80px;
    height: 20px;
    margin-left: 5px;
}

.dashboard-page-container .manage-session-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dashboard-page-container .manage-session-buttons button {
    border: 2px solid #16b9cc;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-page-container .manage-session-buttons .start-session-button {
    background-color: green;
    color: white;
}

.dashboard-page-container .manage-session-buttons .end-session-button {
    background-color: red;
    color: white;
}

.dashboard-page-container .manage-session-buttons .start-session-button:hover {
    background-color: darkgreen;
}

.dashboard-page-container .manage-session-buttons .end-session-button:hover {
    background-color: darkred;
}