button {
    all: unset;
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

.reports-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.reports-page-container .sidebar-container {
    width: 230px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.reports-page-container .user-options-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 20px;
    height: 100vh;
    max-height: 100vh;
    margin-left: 230px;
    align-items: center;
    gap: 20px;
    width: 100vw;
}

.reports-page-container .user-options-container h1,
.reports-page-container .user-options-container p {
    margin: 0;
    align-self: flex-start;
}

.reports-page-container .user-options-container .hr-div {
    border: none;
    width: 100%;
    background-color: #d6d6d6;
    margin-bottom: 20px;
    height: 1px;
}

.reports-page-container .reports-list-container{
    border: 1px solid #16b9cc;
    border-radius: 12px;
    padding: 20px 20px;
    box-sizing: border-box;
    width: auto;
}