button {
    all: unset;
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

.sessions-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.sessions-page-container .sidebar-container {
    width: 230px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.sessions-page-container .user-options-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 20px;
    height: 100vh;
    max-height: 100vh;
    margin-left: 230px;
    align-items: center;
    gap: 20px;
    width: 100vw;
}

.sessions-page-container .user-options-container h1,
.sessions-page-container .user-options-container p {
    margin: 0;
    align-self: flex-start;
}

.sessions-page-container .user-options-container .hr-div {
    border: none;
    width: 100%;
    background-color: #d6d6d6;
    margin-bottom: 20px;
    height: 1px;
}

.sessions-page-container .user-options-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: start;
}

.sessions-page-container .user-options-grid .hr-div {
    border: none;
    width: 100%;
    background-color: #d6d6d6;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 1px;
}

.sessions-page-container .user-options-grid h2 {
    margin: 0;
}

.sessions-page-container .book-session-container,
.sessions-page-container .upcoming-sessions-container,
.sessions-page-container .past-sessions-container,
.sessions-page-container .account-balance-container,
.sessions-page-container .quick-session-container {
    border: 1px solid #16b9cc;
    border-radius: 12px;
    padding: 10px 10px;
    box-sizing: border-box;
    width: auto;
}

.sessions-page-container .account-balance-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sessions-page-container .balance-pairs-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.sessions-page-container .balance-pair-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sessions-page-container .account-balance-container label {
    background-color: white;
    border: 1px solid #16b9cc;
    padding: 8px;
    border-radius: 4px;
    width: 80px;
    height: 20px;
    margin-left: 5px;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

.sessions-page-container .manage-balance-buttons button {
    background-color: white;
    border: 1px solid #16b9cc;
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
    margin-left: 5px;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}


.sessions-page-container .past-sessions-container {
    height: 215px;
}

.sessions-page-container .quick-session-container {
    height: auto;
}

.sessions-page-container .session-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.sessions-page-container .session-item span {
    margin-right: 10px;
}

.sessions-page-container .create-session-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #16b9cc;
    border-radius: 12px;
    box-sizing: border-box;
    margin-top: 10px;
}

.sessions-page-container .session-payment-type-button {
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.sessions-page-container .session-payment-type-button:hover {
    background-color: #1f8b97;
    border-color: #1f8b97;
}

.sessions-page-container .session-type-info-container {
    display: none;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    width: auto;
    transition: height 0.3s ease, opacity 0.3s ease;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.sessions-page-container .session-type-info-container.expanded {
    display: block;
    max-height: 300px;
    opacity: 1;
}

.sessions-page-container .session-type-info-container h3 {
    margin: 0;
    font-size: 1.2rem;
}

.sessions-page-container .manage-session-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sessions-page-container .manage-session-buttons button {
    border: 2px solid #16b9cc;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sessions-page-container .manage-session-buttons .start-session-button {
    background-color: green;
    color: white;
}

.sessions-page-container .manage-session-buttons .end-session-button {
    background-color: red;
    color: white;
}

.sessions-page-container .manage-session-buttons .start-session-button:hover {
    background-color: darkgreen;
}

.sessions-page-container .manage-session-buttons .end-session-button:hover {
    background-color: darkred;
}