button {
    all: unset;
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

.sessions-page-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.sessions-page-container .sidebar-container {
    width: 230px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.sessions-page-container .user-options-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 20px;
    height: 100vh;
    max-height: 100vh;
    margin-left: 230px;
    align-items: center;
    gap: 20px;
    width: 100vw;
}

.sessions-page-container .user-options-container h1,
.sessions-page-container .user-options-container p {
    margin: 0;
    align-self: flex-start;
}

.sessions-page-container .user-options-container .hr-div {
    border: none;
    width: 100%;
    background-color: #d6d6d6;
    margin-bottom: 20px;
    height: 1px;
}

.sessions-page-container .user-options-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    align-items: start;
}

.sessions-page-container .user-options-grid .hr-div {
    border: none;
    width: 100%;
    background-color: #d6d6d6;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 1px;
}

.sessions-page-container .user-options-grid h2 {
    margin: 0;
}

.sessions-page-container .book-session-container,
.sessions-page-container .upcoming-sessions-container,
.sessions-page-container .past-sessions-container{
    border: 1px solid #16b9cc;
    border-radius: 12px;
    padding: 20px 20px;
    box-sizing: border-box;
    width: 800px;
}

.sessions-page-container .book-session-form{
    background-color: white;
    border: 1px solid #16b9cc;
    padding: 10px;
}

.sessions-page-container .book-session-form .form-item{
    margin-bottom: 10px;
}

.sessions-page-container .book-session-form .form-item label{
    padding: 8px 0;
    width: 70px;
    font-size: 20px;
    align-items: center;
}

.sessions-page-container .book-session-form .form-item input {
    background-color: white;
    border: 1px solid #16b9cc;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
}
.sessions-page-container .book-session-form button{
    background-color: white;
    border: 1px solid #16b9cc;
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
    font-size: 20px;
    text-align: center;
    margin-right: 20px
}

.sessions-page-container .upcoming-sessions-container {
    height: auto;
}

.sessions-page-container .upcoming-sessions-container .session-tab-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
}

.sessions-page-container .upcoming-sessions-container .session-tab-container .hr-div {
    border: none;
    width: 100%;
    background-color: #d6d6d6;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 1px;
}

.sessions-page-container .upcoming-sessions-container .session-tab-container .session-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sessions-page-container .upcoming-sessions-container .session-tab-container .session-header-container h3 {
    margin: 0;
}

.sessions-page-container .upcoming-sessions-container .session-tab-container .session-details-container p{
    margin-bottom: 10px;
}

.sessions-page-container .past-sessions-container {
    height: auto;
}

.sessions-page-container .past-sessions-container .session-tab-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.sessions-page-container .past-sessions-container .session-tab-container .hr-div {
    border: none;
    width: 100%;
    background-color: #d6d6d6;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 1px;
}

.sessions-page-container .past-sessions-container .session-tab-container .session-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sessions-page-container .past-sessions-container .session-tab-container .session-header-container h3 {
    margin: 0;
}

.sessions-page-container .past-sessions-container .session-tab-container .session-details-container p{
    margin-bottom: 10px;
}

.sessions-page-container .past-sessions-container .session-tab-container .session-details-container .session-actions-buttons-container{
    margin-top: 10px;
    margin-bottom: 5px;
}

.sessions-page-container .past-sessions-container .session-tab-container .session-details-container .session-actions-buttons-container button{
    background-color: white;
    border: 1px solid #16b9cc;
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
    font-size: 16px;
    text-align: center;
    margin-right: 20px;
}



