.verify-email-notification {
  background-color: #cc0000;
  color: white;
  padding: 15px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
}

.verify-email-notification button{
  text-decoration: underline;
}